 <main id="main" class="main">

    <div class="pagetitle">
     <h1>Profile | Akaabadek Louis | Matrix No: BTIT210123</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="student.html">Home</a></li>
          <li class="breadcrumb-item">Results</li>
          <li class="breadcrumb-item active">Semester</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
    
        <div class="col-sm-6 col-lg-12">

          <div class="card" id="printableArea">
            <div class="card-body">
              <h5 class="card-title">Please Select Semester</h5>
              <form >

                <div class="row mb-3">
                 
                  <div class="col-lg-5">
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Year One</option>
                        <option value="2">Year Two</option>
                        <option value="3">Year Three</option>
                        <option value="4">Year Four</option>
                      </select>
                    </select>
                  </div>
                  <div class="col-lg-5">
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Semester One</option>
                        <option value="2">Semester Two</option>
                      </select>
                    </select>
                  </div>
                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div>

            
            </form><!-- End General Form Elements -->

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Credit</th>
                    <th scope="col">GPA</th>
                    <th scope="col">CGPA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">IT21</th>
                    <td>IT Project Mgt</td>
                    <td>79</td>
                    <td>3</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <th scope="row">IT21</th>
                    <td>Business Mangement</td>
                    <td>739</td>
                    <td>3</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <th scope="row">IT21</th>
                    <td>IT Project Mgt</td>
                    <td>79</td>
                    <td>3</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <th scope="row">IT21</th>
                    <td>IT Project Mgt</td>
                    <td>79</td>
                    <td>3</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <th scope="row">IT21</th>
                    <td>IT Project Mgt</td>
                    <td>79</td>
                    <td>3</td>
                    <td>3.5</td>
                  </tr>
                  <tr>
                    <th scope="row">CGPA</th>
                    <th>Total Courses</th>
                    <th>Total Marks</th>
                    <th>Total GPA</th>
                    <th>Total CGPA</th>
                    <th>3.50</th>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
             
            </div>
            
          </div>

          <div style="text-align: right;">
            <button  class="btn btn-primary" onclick="printDiv('printableArea')" type="submit"><i class="bi bi-printer"></i> Print</button>
          </div>
       
          

        </div>
      </div>
    </section>

  </main><!-- End #main -->